certifi==2019.3.9
chardet==3.0.4
coremltools==2.1.0
decorator==4.4.0
graphviz==0.8.4
idna==2.8
llvmlite==0.28.0
mxnet==1.1.0.post0
numba==0.43.1
numpy==1.16.3
pandas==0.24.2
Pillow==6.0.0
prettytable==0.7.2
protobuf==3.7.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
resampy==0.2.1
scipy==1.2.1
six==1.12.0
turicreate==5.5
urllib3==1.24.2
